<h2>Add Employee</h2>
<form (submit)="submitForm()">
  <!--<mat-form-field>
    <input matInput placeholder="First Name" [(ngModel)]="employee.first_name" name="first_name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="employee.last_name" name="last_name" required>
  </mat-form-field>-->
  <!--<mat-form-field>
    <input matInput placeholder="Position" [(ngModel)]="employee.position" name="position" required>
  </mat-form-field>-->
  <!--<mat-form-field>
    <mat-select placeholder="Is HR?" [(ngModel)]="employee.isHR" name="isHR">
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>-->
  <!--<mat-form-field>
    <input matInput placeholder="Phone" [(ngModel)]="employee.phone" name="phone" required>
  </mat-form-field>-->
  <!--<mat-form-field>
    <textarea matInput placeholder="Address" [(ngModel)]="employee.address" name="address" required></textarea>
  </mat-form-field>-->
  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Password" [(ngModel)]="employee.password" name="password" type="password" required>-->
    <!--<input matInput placeholder="Password" [value]="employee.password" (input)="employee.password = $event.target.value" name="password" type="password" required>-->
    <!--<input matInput placeholder="Password" [value]="employee.password" (input)="employee.password = $event.target.value || ''" name="password" type="password" required>

  </mat-form-field>-->
  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
